<a href="https://colab.research.google.com/github/shaileshsuthar675/House-Price-prediction/blob/main/House%20Price%20Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Built the connection between google drive and Notebook

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

#Enabling the Data table formatter

In [88]:
from google.colab import data_table
data_table.enable_dataframe_formatter

#Importing Required Libraries

In [89]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#CSV Data Exploaration

In [132]:
house_data=pd.read_csv('/content/gdrive/MyDrive/machine learning /Turicreate/Week 2/home_data.csv')

In [133]:
house_data.head(5)

           id             date   price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000  ... -122.045           1800        7503

[5 rows x 21 columns]

In [148]:
#To calculate the number of column contained in this data table
len(house_data.columns)

21

#Importing Sklearn Library to split the data

In [135]:
from sklearn.model_selection import train_test_split

In [136]:
x= house_data[['sqft_living']]
y= house_data['price']

x_train_data,x_test_data, y_train_data, y_test_data = train_test_split(x,y,test_size=0.25)

#Built the Linear Regrassion model based upon the single feature

In [137]:
from sklearn.linear_model import LinearRegression

In [138]:
regr= LinearRegression()
sqft_model= regr.fit(x_train_data,y_train_data)

#Evalution of Single feature Linear Regression (S.F.L.R.) model via test data

In [139]:
sqft_model.score(x_test_data,y_test_data)

0.49088394827112114

#Prediction of house price based upon the S.F.L.R. model

In [140]:
house_1=house_data[house_data['id']==7129300520]

In [141]:
house_1.head()

           id             date   price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900  ... -122.257           1340        5650

[1 rows x 21 columns]

In [142]:
house_1[['sqft_living']].iloc[0]

sqft_living    1180
Name: 0, dtype: int64

In [143]:
sqft_model.predict([house_1[['sqft_living']].iloc[0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([290487.60894134])

#Build the LR model based upon multi features

In [144]:
x= house_data[['bedrooms','bathrooms','sqft_living','sqft_lot','grade','sqft_basement','yr_built','lat',
             'zipcode','sqft_above','sqft_living15','sqft_lot15']]
y= house_data['price']
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.25)

In [145]:
multi_features_model= regr.fit(x_train,y_train)

#Evaluating the multi feature LR (M.F.L.R) model via test data

In [146]:
multi_features_model.score(x_test,y_test)

0.6540302766679871

#Prediction of house price based upon M.F.L.R. model

In [147]:
multi_features_model.predict(house_1[['bedrooms','bathrooms','sqft_living','sqft_lot','grade','sqft_basement','yr_built','lat',
             'zipcode','sqft_above','sqft_living15','sqft_lot15']])

array([258184.27772475])